a,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
html,
li,
p,
s,
span,
ul {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline
}

html {
	font-size: 60%;
	-webkit-overflow-scrolling: touch;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%
}

.content,
.container-bottompad,
.vertical-center,
.section-box,
.container-contact100,
.wrap-contact100,
.contact100-form,
.paddinglr,
.paddingt,
.label-input100,
.wrap-input100,
.validate-input,
.input100,
.focus-input100,
.flex-col-c-m,
.contact100-more,
.flex-w,
.size1,
.txt1,
.lnr,
.lnr-map-marker,
.size2,
.txt2,
.dis-flex,
.txt3,
.lnr-envelope,
.contact100-form-title,
:after,
:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

:active,
:focus,
:hover {
	outline: 0
}

* {
	-webkit-tap-highlight-color: transparent
}

footer,
header,
nav,
section {
	display: block
}

ul {
	list-style: none
}

a {
	text-decoration: none !important
}

@font-face {
	font-family: 'Open Sans Light';
	font-style: normal;
	font-weight: 300;
	src: url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFVZ0b.woff2) format('woff2')
}

@font-face {
	font-family: 'Jetbrains Mono';
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/jetbrainsmono/v3/tDbY2o-flEEny0FZhsfKu5WU4zr3E_BX0PnT8RD8yKxTOlOV.woff2) format('woff2')
}

@font-face {
	font-family: 'Open Sans Bold';
	font-style: normal;
	font-weight: 600;
	src: url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format('woff')
}

h1 {
	margin-bottom: 30px;
	font-size: 64px;
	font-size: 6.4rem;
	line-height: 1.2em;
	font-family: "Jetbrains Mono", "Helvetica Neue", Helvetica, Arial, Sans-serif;
	letter-spacing: -.07em;
	color: #3d4451
}

h2 h3,
h4,
h5 {
	font-weight: 400;
	font-family: "Open Sans Light", "Helvetica Neue", Helvetica, Arial, Sans-serif;
	line-height: 1.1;
	margin-bottom: 30px
}

h6 {
	font-weight: 600;
	font-family: "Jetbrains Mono", "Helvetica Neue", Helvetica, Arial, Sans-serif;
	line-height: 1.1;
	margin-bottom: 30px
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
	margin-top: 0
}

h2 {
	font-size: 26px
}

h3 {
	font-size: 24px
}

h4 {
	font-size: 22px
}

h5 {
	font-size: 18px
}

h6 {
	font-size: 20px;
	color: #fff;
	margin-bottom: 0
}

p {
	margin: 0 0 25px
}

ul {
	margin: 0 0 25px 20px
}

ul {
	list-style: square
}

li>ul {
	margin-bottom: 0
}

.row2 {
	clear: both;
	margin: 0 auto
}

[class^=colu-] {
	float: left;
	margin: 0 3.84615385% 0 0;
	list-style: none;
	position: relative
}

[class^=colu-]:last-child {
	margin: 0
}

.bottompad {
	padding: 0 0 10px 0;
	margin: 0
}

.center-text {
	text-align: center
}

.text-right {
	text-align: right
}

.text-center {
	text-align: center
}

input[type=submit] {
	cursor: pointer
}

input[type=email],
input[type=password],
input[type=search],
input[type=tel],
input[type=text] {
	color: #333;
	font-size: 14px;
	font-weight: 400;
	font-family: "Open Sans Light", "Helvetica Neue", Helvetica, Arial, Sans-serif;
	line-height: 1.42857143;
	width: 100%;
	display: block;
	padding: 6px 12px;
	background: 0 0;
	border: 1px solid #d8d8d8;
	border-radius: 4px
}

input[type=email],
input[type=password],
input[type=search],
input[type=tel],
input[type=text] {
	height: 34px
}

::-webkit-input-placeholder {
	color: #333
}

:-moz-placeholder {
	color: #333
}

::-moz-placeholder {
	color: #333;
	opacity: 1
}

:-ms-input-placeholder {
	color: #333
}

.row {
	margin-left: -15px;
	margin-right: -15px
}

.row:after,
.row:before {
	content: " ";
	display: table
}

.row:after {
	clear: both
}

.btn {
	font-size: 14px;
	font-weight: 400;
	font-family: "Open Sans Light", "Helvetica Neue", Helvetica, Arial, Sans-serif;
	line-height: 1;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	border: none;
	cursor: pointer;
	margin-bottom: 0;
	background-image: none;
	background-color: #fff;
	width: 100%
}

.btn {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	transition: all .3s ease-out;
	box-shadow: 0 0 5px rgba(0, 0, 0, .2), 0 2px 5px rgba(0, 0, 0, .17)
}

.btn:focus,
.btn:hover {
	opacity: .95;
	text-decoration: none;
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15)
}

body {
	color: #3d4451;
	font: open sans;
	font: open sans;
	font-family: "Open Sans Light", "Helvetica Neue", Helvetica, Arial, Sans-serif;
	font-size: 16px;
	line-height: 1.5;
	background-color: #efefef
}

.wrapper {
	padding: 0;
	opacity: 1;
	visibility: visible;
	position: relative;
	overflow: hidden;
	-webkit-transition: opacity .4s ease-out;
	-moz-transition: opacity .4s ease-out;
	transition: opacity .4s ease-out
}

.container {
	width: 100%;
	max-width: 1000px;
	padding-left: 10px;
	padding-right: 10px;
	overflow: visible;
	margin: 0 auto
}

.section {
	padding-top: 70px
}

.section-box {
	padding: 40px 40px;
	overflow: visible
}

.section-title {
	color: #3d4451;
	font-size: 34px;
	line-height: 1.2;
	font-weight: 600;
	text-align: center
}

.section-box {
	background-color: #fff;
	box-shadow: 0 1px 6px rgba(0, 0, 0, .12), 0 1px 4px rgba(0, 0, 0, .24)
}

@media (max-width:992px) {
	.section-box {
		padding: 50px 40px
	}
}

@media (max-width:767px) {
	.section {
		padding-top: 50px
	}
	.section-box {
		padding: 30px 20px
	}
	.section-title {
		font-size: 30px
	}
}

.header {
	position: relative;
	margin-bottom: 75px;
	box-sizing: content-box
}

.content {
	z-index: 4;
	position: relative
}

.head-bar {
	z-index: 3;
	opacity: 0;
	position: relative;
	visibility: hidden;
	background-color: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
	-webkit-transform: translate(0, -100px);
	-moz-transform: translate(0, -100px);
	transform: translate(0, -100px);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform .4s ease-out .1s, padding 250ms ease-out, box-shadow 250ms ease-out;
	-moz-transition: -moz-transform .4s ease-out .1s, padding 250ms ease-out, box-shadow 250ms ease-out;
	transition: transform .4s ease-out .1s, padding 250ms ease-out, box-shadow 250ms ease-out;
	box-shadow: 0 1px 6px rgba(0, 0, 0, .12), 0 1px 4px rgba(0, 0, 0, .24)
}

.head-bg {
	top: 0;
	left: 0;
	right: 0;
	z-index: 0;
	display: none;
	position: absolute;
	background-size: cover;
	background-color: #242832;
	background-repeat: no-repeat;
	background-position: center
}

.head-bg:before {
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(44, 51, 64, .8)
}

@media (max-width:767px) {
	.head-bar {
		padding-top: 0;
		padding-bottom: 0;
		position: relative
	}
}

.section-txt-btn {
	color: #000;
	font-size: 20px;
	font-weight: 300;
	line-height: 1.8;
	text-align: center;
	margin-top: 30px;
	padding-left: 5%;
	padding-right: 5%
}

.section-txt-btn .section-txt-btn .btn {
	padding: 21px 55px;
	letter-spacing: .05em;
	margin: 5px
}

.section-text .section-box :last-child,
.section-txt-btn p:last-child {
	margin-bottom: 0
}

.section-about {
	padding-top: 40px;
	position: relative
}

.section-about .section-box {
	padding: 0
}

.section-about .profile {
	padding: 57px 50px 15px
}

.section-about .profile-title {
	font-size: 36px;
	line-height: 1.1;
	font-weight: 700;
	margin-bottom: 5px
}

.section-about .profile-title span {
	font-weight: 300
}

.profile-social {
	padding: 15px 0
}

@media (max-width:992px) {
	.section-about .profile {
		padding: 50px 40px 15px
	}
}

@media (max-width:767px) {
	.section-about {
		padding-top: 0
	}
	.section-about .profile {
		padding: 30px 20px 15px
	}
}

@media (max-width:480px) {
	.section-about .row>div {
		width: 100%
	}
	.section-about .profile-title {
		font-size: 28px
	}
}

@keyframes showText {
	100% {
		opacity: 1
	}
}

@keyframes animate {
	100% {
		transform: scaleX(1)
	}
}

@keyframes showText2 {
	100% {
		opacity: 1
	}
}

header,
nav {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: bottom;
	background: 0 0;
	display: block
}

header {
	background: #111;
	height: 62px;
	padding: 0 5%;
	width: 90%;
	position: absolute;
	z-index: 1;
	font-family: "Open Sans Light", "Helvetica Neue", Helvetica, Arial, Sans-serif
}

header nav {
	display: none;
	background: #222;
	position: absolute;
	top: 62px;
	right: 0;
	z-index: 1000;
	width: 100%;
	font-size: 24px;
	font-size: 2.4rem;
	text-align: center
}

header nav li {
	height: 3em;
	list-style: none;
	display: block;
	border-top: #212121 solid 1px;
	border-bottom: #363636 solid 1px
}

footer nav li a,
header nav li a {
	display: block;
	color: #fff;
	line-height: 3em;
	text-decoration: none;
	text-transform: lowercase
}

.logo {
	height: 80px;
	width: 192px;
	background: url(images/shared/logo-initials-white.png) no-repeat;
	transition: .1s;
	display: block;
	margin-right: 0;
	text-indent: -9999px;
	float: left
}

.logo:hover {
	background: url(images/shared/logo-initials-blue.png) no-repeat;
	transition: .1s
}

.icon-nav {
	width: 27px;
	height: 62px;
	float: right;
	background: url(images/nav-hamburger.png) no-repeat;
	display: block;
	text-indent: -9999px
}

.icon-nav.active {
	opacity: .5
}

.social li {
	display: inline-block;
	border: 0;
	margin-top: 18px;
	margin-left: 15px;
	height: 32px
}

.social li a {
	width: 32px;
	height: auto;
	display: inline-block;
	transition: .1s;
	text-indent: -9999px;
	cursor: pointer;
	padding: 0
}

.social li a:hover {
	width: 32px;
	height: auto;
	display: inline-block;
	transition: .1s;
	text-indent: -9999px;
	cursor: pointer;
	padding: 0
}

.social .github a {
	background: url(images/shared/github-white.png);
	background-size: 32px 32px;
	background-repeat: no-repeat
}

.social .linkedin a {
	background: url(images/shared/linkedin-white.png);
	background-size: 32px 32px;
	background-repeat: no-repeat
}

.social .github:hover a {
	background: url(images/shared/github-blue.png);
	background-size: 32px 32px;
	background-repeat: no-repeat
}

.social .linkedin:hover a {
	background: url(images/shared/linkedin-blue.png);
	background-size: 32px 32px;
	background-repeat: no-repeat
}

::selection {
	background: #333;
	color: #fff
}

::-moz-selection {
	background: #333;
	color: #fff
}

::-webkit-selection {
	background: #333;
	color: #fff
}

@media only screen and (min-width:830px) {
	.social {
		margin-left: 30px
	}
	.social li {
		margin-top: 30px
	}
	header {
		height: 92px
	}
	header nav {
		float: right;
		display: block;
		font-size: 16px;
		font-size: 1.6rem;
		position: static;
		background: 0 0;
		width: auto
	}
	header nav li {
		display: inline-block;
		float: left;
		position: relative;
		height: 92px;
		border: 0
	}
	header nav li a {
		display: block;
		color: #fff;
		line-height: 92px;
		padding: 0 1em;
		text-decoration: none
	}
	header nav li:hover a {
		transition: .1s;
		color: #66d6ff
	}
	header .icon-nav {
		display: none
	}
}

@media only screen and (min-width:1024px) {
	.logo {
		margin-right: 0
	}
	header nav {
		font-size: 18px;
		font-size: 1.8rem
	}
	.row2 {
		clear: both;
		margin: 0 auto
	}
	[class^=colu-] {
		float: left;
		margin: 0 3.84615385% 0 0;
		list-style: none;
		position: relative
	}
	[class^=col-]:last-child {
		margin: 0
	}
	.col-1 {
		width: 4.80769231%
	}
	.col-2 {
		width: 13.46153846%
	}
	.col-3 {
		width: 22.11538462%
	}
	.col-4 {
		width: 30.76923077%
	}
	.col-5 {
		width: 39.42307692%
	}
	.col-6 {
		width: 48.07692308%
	}
	.col-7 {
		width: 56.73076923%
	}
	.col-8 {
		width: 65.38461538%
	}
	.col-9 {
		width: 74.03846154%
	}
	.col-10 {
		width: 82.69230769%
	}
	.col-11 {
		width: 91.34615385%
	}
	.col-12 {
		width: 100%;
		margin: 0 auto;
		display: flex;
		justify-content: center
	}
}

.logo-footer-fix {
	position: relative;
	left: 24%
}

@media only screen and (min-width:1247px) {
	.logo {
		height: 80px;
		width: 407px;
		background: url(images/shared/logo-white.png) no-repeat
	}
	.logo:hover {
		height: 80px;
		width: 407px;
		background: url(images/shared/logo-blue.png) no-repeat
	}
	.logo-footer-fix {
		position: relative;
		left: 0
	}
}

.content-width {
	width: 100%;
	max-width: 1300px;
	height: 50vh;
	margin: 0 auto;
	z-index: 4;
	position: relative
}

main {
	min-height: 100vh;
	background-color: #efefef;
	position: relative;
	z-index: 1
}

footer {
	position: sticky;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #333;
	display: grid;
	text-align: center;
	justify-content: center
}

.center-all {
	text-align: center!important;
	justify-content: center!important;
	align-self: center!important;
	align-items: center!important
}

footer nav {
	text-align: center;
	justify-content: center;
	margin: 0
}

footer a {
	text-align: center;
	justify-content: center;
	margin: 0
}

footer ul {
	margin: 0
}

.logo {
	display: inline-block;
	margin: 0;
	justify-content: center;
	text-align: center
}

footer .social {
	margin: 0;
	justify-content: center;
	text-align: center
}

footer .social li {
	display: inline-block;
	border: 0;
	margin: 8px 8px 25px 8px;
	height: 32px
}

footer .social li a {
	height: 32px
}

footer .social li a:hover {
	height: 32px
}

footer nav li {
	display: inline-block;
	margin: 0 12px 0 12px
}

footer nav li a:hover,
header nav li a:hover {
	color: #66d6ff
}

footer p {
	margin: 0
}

.bg {
	background-image: url(images/contact/bg-02.jpg);
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover
}

.bg::before {
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(44, 51, 64, .7)
}

input {
	outline: 0;
	border: none
}

textarea {
	outline: 0;
	border: none
}

input:focus,
textarea:focus {
	border-color: transparent!important
}

input:focus::-webkit-input-placeholder {
	color: transparent
}

input:focus:-moz-placeholder {
	color: transparent
}

input:focus::-moz-placeholder {
	color: transparent
}

input:focus:-ms-input-placeholder {
	color: transparent
}

textarea:focus::-webkit-input-placeholder {
	color: transparent
}

textarea:focus:-moz-placeholder {
	color: transparent
}

textarea:focus::-moz-placeholder {
	color: transparent
}

textarea:focus:-ms-input-placeholder {
	color: transparent
}

input::-webkit-input-placeholder {
	color: #adadad
}

input:-moz-placeholder {
	color: #adadad
}

input::-moz-placeholder {
	color: #adadad
}

input:-ms-input-placeholder {
	color: #adadad
}

textarea::-webkit-input-placeholder {
	color: #adadad
}

textarea:-moz-placeholder {
	color: #adadad
}

textarea::-moz-placeholder {
	color: #adadad
}

textarea:-ms-input-placeholder {
	color: #adadad
}

.txt1 {
	font-family: "Open Sans Light";
	font-size: 18px;
	line-height: 1.2;
	color: #fff
}

.txt2 {
	font-family: "Open Sans Light";
	font-size: 15px;
	line-height: 1.6;
	color: #999
}

.txt3 {
	font-family: "Open Sans Light";
	font-size: 15px;
	line-height: 1.6;
	color: #66d6ff
}

.size1 {
	width: 355px;
	max-width: 100%
}

.size2 {
	width: calc(100% - 43px)
}

.container-contact100 {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background: #fff
}

.wrap-contact100 {
	width: 1120px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	flex-direction: row-reverse
}

.contact100-more {
	width: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	z-index: 1;
	padding: 30px 15px 0 15px
}

.contact100-more::before {
	content: "";
	display: block;
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, .8)
}

.btn2 {
	font-size: 14px;
	font-weight: 400;
	font-family: "Open Sans Light", "Helvetica Neue", Helvetica, Arial, Sans-serif;
	line-height: 1;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	border: none;
	cursor: pointer;
	margin-bottom: 0;
	background-image: none;
	background-color: #fff;
	width: 100%
}

.btn2 {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	transition: all .3s ease-out;
	box-shadow: 0 0 5px rgba(0, 0, 0, .2), 0 2px 5px rgba(0, 0, 0, .17);
	background-color: #66d6ff
}

.btn2:focus,
.btn2:hover {
	opacity: .95;
	text-decoration: none;
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15)
}

.paddinglr {
	margin: 0 55px 0 55px
}

.paddingt {
	margin: 56px 0 0 0
}

.contact100-form {
	width: 50%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap
}

.contact100-form-title {
	width: 100%;
	display: block;
	font-family: "Open Sans Light";
	font-size: 30px;
	color: #333;
	line-height: 1.2;
	text-align: center;
	padding-bottom: 33px
}

.wrap-input100 {
	width: 100%;
	position: relative;
	border: 1px solid #e6e6e6
}

.label-input100 {
	font-family: "Open Sans Light";
	font-size: 12px;
	color: #555;
	line-height: 1.5;
	text-transform: uppercase;
	letter-spacing: 1px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	width: 100%;
	min-height: 55px;
	border: 1px solid #e6e6e6;
	border-bottom: none;
	padding: 10px 25px;
	margin-top: 15px;
	margin-bottom: 0
}

.input100 {
	display: block;
	width: 100%;
	background: 0 0;
	font-family: "Open Sans Light";
	font-size: 14px;
	color: #666;
	line-height: 1.2;
	padding: 0 13px
}

input.input100 {
	height: 55px
}

textarea.input100 {
	min-height: 139px;
	padding-top: 19px;
	padding-bottom: 15px
}

.focus-input100 {
	position: absolute;
	display: block;
	width: calc(100% + 1px);
	height: calc(100% + 1px);
	top: -1px;
	left: -1px;
	pointer-events: none;
	border: 1px solid #66d6ff;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	-moz-transition: all .4s;
	transition: all .4s;
	-webkit-transform: scaleX(1.025) scaleY(1.1);
	-moz-transform: scaleX(1.025) scaleY(1.1);
	-ms-transform: scaleX(1.025) scaleY(1.1);
	-o-transform: scaleX(1.025) scaleY(1.1);
	transform: scaleX(1.025) scaleY(1.1)
}

.input100:focus+.focus-input100 {
	visibility: visible;
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1)
}

.container-contact100-form-btn {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: center
}

.contact100-form-btn {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 20px;
	min-width: 200px;
	height: 50px;
	border-radius: 2px;
	background: #66d6ff;
	font-family: "Open Sans Light";
	font-size: 18px;
	color: #fff;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	-moz-transition: all .4s;
	transition: all .4s
}

.contact100-form-btn:hover {
	background: #333;
	color: #fff
}

.container-bottompad {
	width: 100%;
	max-width: 1000px;
	overflow: visible;
	margin: 0 auto;
	padding: 0 0 20px 0
}

@media (max-width:768px) {
	.container-bottompad {
		width: 100%;
		max-width: 1000px;
		overflow: visible;
		margin: 0 auto;
		padding: 0
	}
	.contact100-form {
		width: 100%
	}
	.contact100-more {
		width: 100%
	}
	.contact100-form {
		padding: 56px 15px 15px 15px
	}
	.paddingt {
		margin-top: 0;
	}
	.paddinglr {
		margin-left: 5px;
		margin-right: 5px;
	}
}

.validate-input {
	position: relative
}

.flex-col {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column
}

.flex-col-c-m {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
	justify-content: center
}

.flex-w {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap
}

.dis-flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex
}